* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #272727;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    min-height: 100vh;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px solid #fff;
}

.menu-btn_burger {
    width: 20px;
    height: 3px;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-10px);
}

.menu-btn_burger::after {
    transform: translateY(10px);
}

/* Animation */
.menu-btn.open{
    transform: translateX(300px);
}

.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background: rgb(241, 95, 69);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: rgb(241, 95, 69);
}